@-moz-document url-prefix("gitlab.com"), domain("gitlab.com") {
body.ui_indigo .navbar-gitlab {
    background: #24292E
}
.navbar-gitlab {
    padding-top: 4px;
    padding-bottom: 4px;
}
.avatar-container{
    display: none;
}
.user-access-role {
    display: none;
}
.description {
    margin-top: 14px;
}
.layout-page {
    margin-top: 48px;
}
}

@-moz-document url("https://gitlab.com/") {
/* Makes the inner container 980px rather than wide */
.container-fluid {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

/*



*/
}

/*
body.ui_indigo .navbar-gitlab .navbar-sub-nav > li > a:hover{
    background-color: transparent;
}
*/
